body {
    background-color: gray;
    margin: 0px;
    padding: 0px;
  }
.filter-cell{
  padding-inline:0;
  height: 70px;
  text-align: center;
}
/* 
.filter-cell > div:first-child{
  border-block-end: 4px solid orange;
}
.filter-cell > div{
 padding-block: '0px';
 padding-inline: '8px';
} */